{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lorem ipsum dolor sit amet.</h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore libero vel quo omnis excepturi fugit consequuntur dolore eos dolor, quae reiciendis beatae aspernatur aperiam. Ratione sit error reprehenderit quisquam eum.</p>
    <p>Fugiat, dolor dolores! Nulla quaerat facilis itaque dicta ullam ut iusto! Earum laboriosam id, iste dicta quam commodi harum expedita quis sequi suscipit pariatur nam inventore nihil unde illo voluptatem?</p>   
    

        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                <th>#</th>
                <th>Username</th>
                <th>Adresse mail</th>
                <th>Type de Compteur</th>
                <th>Numero de police</th>
                <th>Crée le</th>
                <th>pay</th>
                </tr>
            </thead>
            <tbody>
                {% for facture in services %}
                <tr>
                    <td>{{ facture.user.username }}</td>
                    {# <td>{{ user.facture.username }}
                    <td>{{ user.facture.email }}</td>
                    <td>{{ user.facture.compteur }}</td>
                    <td>{{ user.facture.numPolice }}</td>
                    <td>{{ user.facture.createdAt | date('d/m/Y') }}</td> #}
                    <td><kkiapay-widget amount="<300>" 
                                        key="c1faa8c074c511e99b87b57029db1662"
                                        url="<url-vers-votre-logo>"
                                        position="center"
                                        callback="{{ path('cmd') }}"
                                        src="https:/cdn.kkiapay.me/k.js">
                        </kkiapay-widget>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
    
{% endblock %}