<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/css/custom.min.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Paiement en ligne</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive" style="">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('page_show') }}">Regler une facture</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('cmd') }}">Gerer une commande</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('about') }}">A propos</a>
                        </li>
                    </ul>
                    
                    <ul class="nav navbar-nav ml-auto" >    
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <div class="nav-item">
                            <p class="nav-link"> Bienvenue, <strong><em>{{ app.user.username }}</em></strong></p>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('logout') }}"><img src="/img/logout.png" alt="logout"></a>
                        </li>
                        {% endif %}
                        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}"><img src="/img/add_user.png" alt="add user"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_register') }}"><img src="/img/registration.png" alt="register"></a>
                            </li>
                        {% endif %}
                    </ul>
            </div>
        </div>
    </div>
    <body>
        
    <div class="container">
        {% block body %}{% endblock %}
    </div>    
        <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <ul class="list-unstyled">
                    <li class="float-lg-right"><a href="#top">Back to top</a></li>
                    </ul>
                    <p>Contactez-nous | &copy;Copyright 2018 - {{ 'now'|date("Y") }} | <a href="{{ path('ccm') }}">CCM?</a></p>
                </div>
            </div>
            </div>
        </footer>
        
        {% block javascripts %}
        <script type="text/javascript">
            document.querySelector(".navbar-toggler").addEventListener("click", function(e){
                document.querySelector("#navbarResponsive").classList.toggle("show");
            });
        </script>
        <script type="text/javascript" src="https://cdn.kkiapay.me/k.js"></script>
        {% endblock %}
    </body>
</html>
